<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Блог сайта</title>
    <div th:insert="blocks/bootstrap :: bootstrap"></div>


</head>
<body>

<header th:insert="blocks/header :: header"></header>

<div class="container mt-5 mb-5">
    <h1>Добавление статьи</h1>

    <form action="/blog/add" method="post">


        <input type="text" name="title" placeholder="Введите название статьи" class="form-control"><br>
        <input type="text" name="anons" placeholder="Введите анонс статьи" class="form-control"><br>
        <textarea name="fullText" placeholder="Введите текст статьи" class="form-control"></textarea><br>



        <button type="submit" class="btn btn-success">Добавить статью</button>
        <input type='hidden' value='${_csrf.token}' name='${_csrf.parameterName}'/>
    </form>

</div>

<div th:insert="blocks/footer :: footer"></div>

</body>
</html>