<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Блог сайта</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css">
</head>
<body>

<header th:insert="blocks/header :: header"></header>

<div class="container mt-5">
    <div th:each="element : ${post}" class="alert alert-info mt-2">
        <h1 th:text="${element.title}" />
        <p th:text="${element.fullText}"/>
        <p> <b>Автор</b>  <span  th:text="${element.getAuthor().getUsername()}" /> </p>
        <p> <b>Просмотры</b>  <span  th:text="${element.views}" /> </p>


        <a th:href="'/blog/' + ${element.id} + '/edit'" class="btn btn-warning">Редактировать</a><br><br>
        <form th:action="'/blog/' + ${element.id} + '/remove'" method="post">
            <button class="btn btn-warning" type="submit">Удалить</button>
        </form>
    </div>
</div>

<div th:insert="blocks/footer :: footer"></div>

</body>
</html>