<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Редактирование статьи</title>
    <div th:insert="blocks/bootstrap :: bootstrap"></div>

</head>
<body>

<header th:insert="blocks/header :: header"></header>

<div class="container mt-5 mb-5">
    <h1>Редактирование статьи </h1>
    <div th:each="element : ${post}" >
        <form method="post">
            <input type="text" th:value="${element.title}" name="title" placeholder="Введите название статьи" class="form-control"><br>
            <input type="text" th:value="${element.anons}" name="anons" placeholder="Введите анонс статьи" class="form-control"><br>
            <textarea name="fullText" placeholder="Введите текст статьи" class="form-control" th:text="${element.fullText}" /><br>
            <button type="submit" class="btn btn-success">Обновить</button>

        </form>
    </div>
</div>

<div th:insert="blocks/footer :: footer"></div>

</body>
</html>