<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Блог сайта</title>
    <div th:insert="blocks/bootstrap :: bootstrap"></div>


</head>
<body>

<header th:insert="blocks/header :: header"></header>

<div class="container mt-5 mb-5">
    <h1>Добавление статьи</h1>

    <form action="/blog/add" method="post">

        <div th:insert="blocks/blog-input :: blog-input"></div>

        <div class="mt-3">
            <button type="submit" class="btn btn-outline-primary">Добавить статью</button>
        </div>
    </form>

</div>

<div th:insert="blocks/footer :: footer"></div>

</body>
</html>