<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org" xmlns:security="http://www.w3.org/1999/xhtml">
<head>
    <div th:insert="blocks/bootstrap :: bootstrap"></div>

</head>

<body>

<header th:insert="blocks/header :: header"></header>

<div th:switch="${userProfile.getId()}">

    <div th:case="${user.getId()}" class="container mt-3">
        <h1>Мой профиль</h1>
        <h4 th:text="'My name: ' + ${userProfile.getUsername()}"></h4>

        <a th:href="'/profile/' + ${userProfile.getId()} + '/edit'" class="btn btn-primary mt-3">
            Edit profile
        </a>

        <form method="get" action="/blog" class="mt-3">
            <input type="hidden" name="authorId" th:value="${userProfile.getId()}">

            <button type="submit" class="btn btn-primary">
                Ваши статьи
            </button>
        </form>

        <div sec:authorize="hasAuthority('ADMIN')" class="mt-3">
            <a href="/user" class="btn btn-success" role="button" aria-pressed="true">Список пользователей</a>
        </div>

        <div class="mt-3">
            <a href="/logout" class="btn btn-danger" role="button" aria-pressed="true">Выйти</a>
        </div>
    </div>

    <div th:case="*" class="container mt-3">
        <h1>Профиль</h1>
        <h4 th:text="'Name: ' + ${userProfile.getUsername()}"></h4>

        <div th:if="${!userProfile.getSubscribers().contains(user)}" class="mt-3">
            <a class="btn btn-primary" th:href="'/profile/subscribe/' + ${userProfile.getId()}">
                Подписаться <i class="far fa-bookmark"></i>
            </a>

        </div>

        <div th:if="${userProfile.getSubscribers().contains(user)}" class="mt-3">
            <a class="btn btn-primary" th:href="'/profile/unsubscribe/' + ${userProfile.getId()}">
                Отписаться <i class="fas fa-bookmark"></i>
            </a>
        </div>

        <form method="get" action="/blog" class="mt-3">
            <input type="hidden" name="authorId" th:value="${userProfile.getId()}">

            <button type="submit" class="btn btn-primary">
                Статьи пользователя
            </button>
        </form>

    </div>
</div>

<div class="mt-5">
    <div class="container mt-5">
        <h>Подписчики:</h>
        <div th:each="us : ${userProfile.getSubscribers()}" class="alert alert-primary mt-2">
            <h3 th:text="${us.getUsername()}"/>
            <a th:href="'/profile/'+ ${us.getId()}" class="btn btn-warning">Профиль</a>
        </div>
    </div>
    <div class="container mt-5">
        <h>Подписки:</h>
        <div th:each="us : ${userProfile.getSubscriptions()}" class="alert alert-primary mt-2">
            <h3 th:text="${us.getUsername()}"/>
            <a th:href="'/profile/'+ ${us.getId()}" class="btn btn-warning">Профиль</a>
        </div>
    </div>
</div>

<div th:insert="blocks/footer :: footer"></div>

</body>
</html>