<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org" xmlns:security="http://www.w3.org/1999/xhtml">
<head>
    <div th:insert="blocks/bootstrap :: bootstrap"></div>

</head>

<body>

<header th:insert="blocks/header :: header"></header>

<h1>Мой профиль</h1>
<h4 th:text="'My name: ' + ${username}"></h4>



<form th:action="@{/profile}" method="post">

    <div class="input-group mb-3">
        <span class="input-group-text" id="email-input">Новый Email : </span>

        <input class="form-control"
               type="email" name="email" placeholder="some@some.com"
               aria-label="Email" aria-describedby="email-input"/>
    </div>

    <div class="badge bg-primary fs-4" style="width: 55rem;">
        <a th:text="'Ваша текущая почта ' + ${email}"></a>
    </div>
    <br>
    <br>

    <div class="input-group mb-3">
        <span class="input-group-text" id="password-input">Новый пароль : </span>

        <input class="form-control"
               type="password" name="password" maxlength="100"
               aria-label="Password" aria-describedby="password-input"/>

    </div>


    <div class="input-group mb-3">
        <span class="input-group-text" id="oldPassword-input">Введите старый пароль чтобы сохранить : </span>

        <input class="form-control"
               type="password" name="oldPassword" maxlength="100"
               aria-label="Password" aria-describedby="oldPassword-input"/>

    </div>



    <div th:if="${message != null}" class="badge bg-danger fs-4" style="width: 55rem;">
        <a th:text="${message}"></a>
    </div>

    <br>
    <br>
    <div>
        <button type="submit" class="btn btn-outline-primary">Сохранить</button>
    </div>

</form>

<br>
<div sec:authorize="hasAuthority('ADMIN')">
    <a href="/user" class="btn btn-primary btn-lg active" role="button" aria-pressed="true">Список пользователей</a>
</div>

<br>

<div class="container mt-5">
    <h>Подписчики</h>
    <div th:each="user : ${subscribers}" class="alert alert-primary mt-2">
        <h3 th:text="${user.getUsername()}"/>
        <a th:href="'/blog/'" class="btn btn-warning">Профиль</a>
    </div>
</div>

<br>

<div class="container mt-5">
    <h>Подписки</h>
    <div th:each="user : ${subscriptions}" class="alert alert-primary mt-2">
        <h3 th:text="${user.getUsername()}"/>
        <a th:href="'/blog/'" class="btn btn-warning">Профиль</a>
    </div>
</div>

<br>

<div>
    <a href="/logout" class="btn btn-primary btn-lg active" role="button" aria-pressed="true">Выйти</a>

</div>


<div th:insert="blocks/footer :: footer"></div>

</body>
</html>