<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Регистрация</title>
    <div th:insert="blocks/bootstrap :: bootstrap"></div>

</head>

<body>
<header th:insert="blocks/header :: header"></header>

<h1>Регистрация</h1>

<div th:if="${param.error}">
    Invalid username and password.
</div>
<div th:if="${param.logout}">
    You have been logged out.
</div>
<form th:action="@{/registration}" method="post">

    <!--username-->
    <div th:if="${usernameError != null}">
        <label> User Name :
            <input class="form-control is-invalid" th:value="${user.getUsername()}" type="text" name="username"/>
            <div th:text="${usernameError}" class="invalid-feedback">

            </div>
        </label>

    </div>
    <div th:unless="${usernameError != null}">
        <label> User Name : <input th:value="${user.getUsername()}" type="text" name="username"/> </label>
    </div>

    <!--email-->
    <div th:if="${newEmailError != null}">
        <label> Email:
            <input class="form-control is-invalid" th:value="${user.getNewEmail()}" type="email" name="newEmail" placeholder="some@some.com"/>
            <div th:text="${newEmailError}" class="invalid-feedback">

            </div>
        </label>

    </div>
    <div th:unless="${newEmailError != null}">
        <label> Email: <input th:value="${user.getNewEmail()}"  type="email" name="newEmail" placeholder="some@some.com"/> </label>
    </div>

    <!--password-->
    <div th:if="${passwordError != null}">
        <label> Password:
            <input class="form-control is-invalid" type="password" name="password"/>
            <div th:text="${passwordError}" class="invalid-feedback">

            </div>
        </label>

    </div>
    <div th:unless="${passwordError != null}">
        <label> Password: <input type="password" name="password"/> </label>
    </div>

    <!--password-->
    <div th:if="${passwordCheckError != null}">
        <label> Confirm password :
            <input class="form-control is-invalid" type="password" name="passwordCheck"/>
            <div th:text="${passwordCheckError}" class="invalid-feedback">

            </div>
        </label>

    </div>
    <div th:unless="${passwordCheckError != null}">
        <label> Confirm password : <input type="password" name="passwordCheck"/> </label>
    </div>


    <div><input type="submit" value="Зарегистрироваться"/></div>
</form>



<div th:insert="blocks/footer :: footer"></div>

</body>
</html>