<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <div th:insert="blocks/bootstrap :: bootstrap"></div>

</head>

<body>

<header th:insert="blocks/header :: header"></header>

<form action="/user" method="post">
    <div class="container mt-3">
        <h1>Редактирование пользователя</h1>

        <div class="alert alert-info mt-3">
            <h3 th:text="${user.getUsername()}"/>

            <div th:each="role : ${userRoles}">
                <label><input type="checkbox" th:name="${role.getKey()}" th:text="' ' + ${role.getKey()}"
                              th:checked="${role.getValue()}? 'checked'"/></label>
            </div>

            <input type="hidden" th:value="${user.getId()}" name="userId">
        </div>

        <button class="btn btn-primary" type="submit">Save</button>
    </div>
</form>


<div th:insert="blocks/footer :: footer"></div>

</body>
</html>