<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css">
</head>

<body>

<header th:insert="blocks/header :: header"></header>

<div th:each="element : ${users}" class="alert alert-info mt-2">
    <h3 th:text="${element.getUsername()}" />
    <div th:each="role : ${element.getRoles()}">
        <p th:text="${role}"/>
    </div>
    <a th:href="'/user/' + ${element.getId()}" class="btn btn-warning">Редактировать</a>


</div>

<div th:insert="blocks/footer :: footer"></div>

</body>
</html>