<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <div th:insert="blocks/bootstrap :: bootstrap"></div>

</head>

<body>

<header th:insert="blocks/header :: header"></header>

<h1>Редактирование пользователя</h1>

<form action="/user" method="post">
    <div th:each="element : ${user}" class="alert alert-info mt-2">
        <h3 th:text="${element.getUsername()}"/>

        <div th:each="role : ${userRoles}">
            <label><input type="checkbox" th:name="${role.getKey()}" th:text="' ' + ${role.getKey()}" th:checked="${role.getValue()}? 'checked'"/></label>
        </div>

        <input type="hidden" th:value="${element.getId()}" name="userId">
    </div>

    <button type="submit">Save</button>
</form>


<div th:insert="blocks/footer :: footer"></div>

</body>
</html>